body {
    background: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.photo {
    border: 1px solid black;
    border-radius: 1000px;
}

#title,
.subtitle,
.post_title {
    color: rgb(44, 56, 56);
}

#title {
    font-size: 30px;
    text-transform: uppercase;
}

a {
    text-decoration: wavy;
    color: rgb(44, 56, 56);
}

.post_title {
    font-size: 22px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid rgb(3, 3, 3);
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: lowercase;
    text-align: center;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contact_list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 15px;
}